<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cincopa.cincopatv" android-minSdkVersion="21" android-targetSdkVersion="29" version="1.0.21" ios-CFBundleVersion="1.0.21" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0"  xmlns:android="schemas.android.com/apk/res/android" >
    <name>Cincopa TV</name>
    <description>
      Register to your favorite channels and watch the content
    </description>
    <author email="support@cincopa.com" href="https://cincopa.com">
        CIncopa Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference value="cli-9.0.0" name="phonegap-version"/>
    <plugin name="cordova-plugin-device" spec="2.0.3" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-screen-orientation" source="npm" spec="3.0.2" />   
    <plugin name="rollbar-cordova" spec="0.1.0" />
    <plugin name="es6-promise-plugin" spec="4.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="4.1.0" />
	<!-- <plugin name="cordova-plugin-chromecast" spec="1.0.0" /> -->
    <!-- <preference name="AppendUserAgent" value="cincopatv" /> -->
    <platform name="android">
        <!-- <meta-data android:name="com.rollbar.android.ACCESS_TOKEN" android:value="10cb4ad8785245b9bc8e39bd1e6f4ca4" /> -->
        <allow-intent href="market:*" />
        <plugin name="cordova-plugin-fullscreen" spec="1.3.0" />
        <icon density="ldpi" src="res/android/icons/ldpi.png" />
        <icon density="mdpi" src="res/android/icons/mdpi.png" />
        <icon density="hdpi" src="res/android/icons/hdpi.png" />
        <icon density="xhdpi" src="res/android/icons/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icons/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/icons/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/android/splash/screen-hdpi-portrait.9.png" />
        <splash density="port-ldpi" src="res/android/splash/screen-ldpi-portrait.9.png" />
        <splash density="port-mdpi" src="res/android/splash/screen-mdpi-portrait.9.png" />
        <splash density="port-xhdpi" src="res/android/splash/screen-xhdpi-portrait.9.png" />
        <splash density="port-xxhdpi" src="res/android/splash/screen-xxhdpi-portrait.9.png" />
        <splash density="port-xxxhdpi" src="res/android/splash/screen-xxxhdpi-portrait.9.png" />        
        <resource-file src="res/android/icons/tvsmall.png" target="app/src/main/res/mipmap-xhdpi/banner.png" />
        <!-- before build do not forget to fill keystore information-->
        <resource-file src="res/android/cincopanew.keystore" target="cincopanew.keystore" />
        <resource-file src="res/android/release-signing.properties" target="release-signing.properties" />
        <resource-file src="gradle.properties" target="gradle.properties" />
        <!-- android tv support -->
        <edit-config target="/manifest" file="AndroidManifest.xml" mode="add" >
            <uses-feature android:name="android.software.leanback" android:required="false" />
            <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.microphone" android:required="false" />
            <uses-feature android:name="android.hardware.wifi" android:required="false" />
            <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
            <uses-feature android:name="android.hardware.location" android:required="false" />
            <uses-feature android:name="android.hardware.location.gps" android:required="false" />
            <uses-feature android:name="android.hardware.location.network" android:required="false" />
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
            <uses-feature android:name="android.hardware.faketouch" android:required="false" />
            <uses-feature android:name="android.hardware.sensor" android:required="false" />
            <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
        </edit-config>
        <edit-config target="/manifest/application/activity/intent-filter" file="AndroidManifest.xml" mode="add" >
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:banner="@mipmap/banner" />
        </edit-config>
    </platform>
    <platform name="ios">
        <!-- wkwebview engine -->
        <!--<plugin name="cordova-plugin-wkwebview-engine" source="npm" />
        <plugin name="cordova-plugin-wkwebview-file-xhr" source="npm" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="WKWebViewOnly" value="true" /> -->
        <preference name="Allow3DTouchLinkPreview" value="false" />
        <preference name="AllowInlineMediaPlayback" value="true"/>
        <preference name="MediaTypesRequiringUserActionForPlayback " value="none" />

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icons/Icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icons/Icon-60.png" width="60" height="60" />
        <icon src="res/ios/icons/Icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icons/Icon-76.png" width="76" height="76" />
        <icon src="res/ios/icons/Icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icons/Icon-40.png" width="40" height="40" />
        <icon src="res/ios/icons/Icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icons/Icon-40@3x.png" width="120" height="120" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icons/Icon.png" width="57" height="57" />
        <icon src="res/ios/icons/Icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icons/Icon-72.png" width="72" height="72" />
        <icon src="res/ios/icons/Icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icons/Icon-small.png" width="29" height="29" />
        <icon src="res/ios/icons/Icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icons/Icon-small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icons/Icon-50.png" width="50" height="50" />
        <icon src="res/ios/icons/Icon-50@2x.png" width="100" height="100" />
        
        <icon src="res/ios/icons/Icon-83.5@2x.png" width="167" height="167" />   
        <icon src="res/ios/icons/1024_2.png" width="1024" height="1024" /> 
        <splash src="res/ios/splash/Default@2x~universal~anyany.png" />

        <edit-config target="UISupportedInterfaceOrientations" file="*-Info.plist" mode="overwrite">
            <array>
                <string>UIInterfaceOrientationPortrait</string>          
                <string>UIInterfaceOrientationPortraitUpsideDown</string>          
            </array>
        </edit-config>
        <edit-config target="UISupportedInterfaceOrientations~ipad" file="*-Info.plist" mode="merge" >
            <array>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </edit-config>
         <preference name="RollbarClientToken" value="10cb4ad8785245b9bc8e39bd1e6f4ca4" />
    </platform>
    <engine name="ios" spec="https://github.com/apache/cordova-ios.git#6.1.0" />
    <engine name="android" spec="https://github.com/apache/cordova-android.git#9.0.0" />
</widget>
